<div class="container">
  <div class="row">
    <!-- File upload and display component -->
      <app-fileupload></app-fileupload>    
  </div>  
</div>

<div class="container-fluid" style="margin: 1em 0;">
  <div class="row">    
    <!-- Average Listing Selling Price per Seller Type -->
    <app-averagesellingprice></app-averagesellingprice>
    <!-- Percentual distribution of available cars by Make -->
    <app-makedistribution></app-makedistribution>
    <!-- The average price of the 30% most contacted listings -->
    <app-averagemostcontacted></app-averagemostcontacted>
    <!-- The Top 5 most contacted listings per Month -->
    <app-datadefination></app-datadefination>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- Definition of the CSV files -->
    <app-topmostcontactedbymonth></app-topmostcontactedbymonth>
  </div>
</div>