
fullstack-ng/node_modules/
fullstack/.idea/
fullstack/.mvn/
fullstack/target/
tmp/coding challenge - junior fullstack engineer.zip
tmp/Project proposal.docx
tmp/prj.db
tmp/demo.png
fullstack/demo.iml
