<div class="container">
    <div class="card">
<h4 class="text-center" style="margin: 0; padding: 2px;">3. Average price of <br/> 30% the  most <br/> contacted listings </h4>
    <div class="card-body" style="padding: 2px 0;">
        <table class="table table-striped" style="margin-top: 0; padding-top: 0px;">
            <thead>
                <th>Average price</th>                        
            </thead>
            <tbody>
                <tr>
                    <td>{{ result }}</td>                                
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>