<div class="container">
    <div class="card">
        <h4 class="text-center" style="margin: 0; padding: 0px;">4. The Top 5 most contacted listings per Month </h4>
        <div class="card-body" style="padding: 2px 0;" *ngFor="let result of results">
            <div class="repeat-result" *ngFor="let res of result | keyvalue">
                <p>{{ res.key }}</p>
                <table class="table table-striped" style="margin-top: 0; padding-top: 0px;">                    
                    <thead>                                          
                        <th>Ranking</th>
                        <th>Listing Id</th>                    
                        <th>Make</th>
                        <th>Selling Price</th>
                        <th>Mileage</th>
                        <th>Total Amount of contacts</th>
                    </thead>
                    <tbody>                                           
                        <tr *ngFor="let r of res.value">                            
                            <td>{{ r.Ranking }}</td>            
                            <td>{{ r['Listing Id'] }}</td>
                            <td>{{ r.Make }}</td>
                            <td>{{ r['Selling Price'] }}</td>
                            <td>{{ r.Mileage }}</td>
                            <td>{{ r['Total Amount of contacts'] }}</td>
                        </tr>
                    </tbody>
                </table>
        
            </div>    
        </div>
    </div>
</div>