<div class="container">
    <div class="card">
<h4 class="text-center" style="margin: 0; padding: 0px;">1. Average Seller Price </h4>
    <div class="card-body" style="padding: 2px 0;">
        <table class="table table-striped" style="margin-top: 0; padding-top: 0px;">
            <thead>
                <th>Seller type</th>
                <th>Average in Euro</th>                    
            </thead>
            <tbody>
                <!-- Extracting result in each table row -->
                <tr *ngFor="let result of results">
                    <td>{{ result.seller_type }}</td>           
                    <td>{{ result['Average in Euro'] }}</td>                        
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>